@{
    ViewData["Title"] = "Página inicial";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bem vindo à universidade de Contoso</h2>
        <p>
            Universidade de Contoso é um aplicativo que
            demonstra como usar o Entity Framework Core em
            uma aplicação web ASP.NET Core.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Contrua do início</h2>
        <p>Você pode contruir a aplicação seguindo os passos descritos no tutorial</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Veja o tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download</h2>
        <p>Você pode o projeto completo do Github.</p>
        <p><a class="btn btn-default" href="https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">Veja o código fonte do projeto &raquo;</a></p>
    </div>
</div>